# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
.next/
out/
build/
dist/

# Testing
coverage/

# Environment
.env
.env.local
.env.production.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
npm-debug.log*

# Docker
Dockerfile
.dockerignore
